/* Base Styling */

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-color: black;
}

body {
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2, h3 {
  font-size: 1rem;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

/* Main Banner */

.banner {
  height: 25rem;
  background-image: url("../images/main_banner.jpeg");
  background-size: cover;
  background-position: 0% 50%;
  width: 100%;
}

.banner .arrivals {
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
  background-color: black;
}

.arrivals h2 {
  margin-bottom: 1.3rem;
}

/* Menu */

.menu {
background-color: firebrick;
}

.menu .container{
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Products */

.products {
  background-color: white;
}

.products .container {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 30%;
  background-color: white;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  align-items: center;
}

.image img{
  max-width: 9rem;
}

.item span {
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: black;
}
